<footer class="no-print">
    <div class="footer-content">
      <h2>Get in touch</h2>
      <a class="icon" href="https://www.linkedin.com/in/elvisstiglic/" target="_blank">
        <span>LinkedIn</span>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
      <a id="emailCopy" class="icon" onclick="copy()">
        <span class="tooltiptext" id="tooltip"></span>
        <span>Send me an email</span>
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </footer>
  
    <script>
      window.addEventListener("load", function() {
          let getPage = window.location.pathname;
          let portfolioLink = document.querySelectorAll('a')[2];
          let projectsLink = document.querySelectorAll('a')[3];
  
          if(getPage === "/") {
                  portfolioLink.classList.add("selected");
                  projectsLink.classList.remove("selected");
          } else {
                  projectsLink.classList.add("selected");
                  portfolioLink.classList.remove("selected");
          }
      })
  
      document.getElementById('emailCopy').addEventListener('click', async () => {
        let popupVisible = false;
        let tooltip = document.getElementById("tooltip");
        tooltip.classList.add('show');
        popupVisible = true;
        navigator.clipboard.writeText('hello@stiglicelvis.com');
        tooltip.innerText = "Email copied to clipboard.";

        setTimeout(
          function () {
            tooltip.classList.remove('show');
            popupVisible = false;
          }, 3000)
      });

      window.addEventListener("scroll", function() {
        const scrollDiv = document.getElementById("scroll_up");
        if (window.scrollY > 300) {
          scrollDiv.style.display = "block";
        } else {
          scrollDiv.style.display = "none";
        }
      });
    </script>
  </body>
  </html>
