<!DOCTYPE html>
<html lang="en">
<head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e1e1e" />
    <title>Elvis Stiglic - {{page.title}}</title>
    <link rel="icon" sizes="152x152" type="image/png" href="{{site.baseurl}}/assets/images/favicon152x152.png">
    <link rel="icon" sizes="32x32" type="image/png" href="{{site.baseurl}}/assets/images/favicon32x32.png">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <script src="{{site.baseurl}}/assets/scripts/fontawesome.js"></script>
</head>
<body>
    <a id="scroll_up" class="no-print" href="#">
        <i class="fa-solid fa-caret-up"></i>
    </a>
    <div class="navbar no-print">
        <menu class="nav">
            <li class="nav-item logo">
                <a aria-current="page" href="/">
                    <img src="{{site.baseurl}}/assets/images/logo.svg" alt="Elvis Stiglic logo">
                </a>
            </li>
            <div class="nav_links">
                <li class="nav-item">
                    <a aria-current="page" href="{{site.baseurl}}/">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" href="{{site.baseurl}}/projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="icon" href="{{site.baseurl}}/assets/uploads/cv-Elvis2024.pdf" target="_blank" alt="Download CV">
                        <span>CV</span>
                        <i class="fa-solid fa-file-lines"></i>
                    </a>
                </li>
            </div>
        </menu>
    </div>